<div class="box arrow mt-3 ml-4" tabindex="0" >
    <p id="avatar-title">Choose your avatar</p>
    <ul class="avatar-collection">
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/avatar1.png" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/avatar2.png" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/avatar3.png" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/avatar4.png" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/coso.png" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/batman.png" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/ironman.svg" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/cactus.png" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/orso.svg" (click) = "avatarSelect()"></li>
        <li class="item"><img class="avatar avatar-item" src="/assets/images/avatars/captan.png"(click) = "avatarSelect()" ></li>
    </ul>
</div>