<h1 mat-dialog-title>{{ greet }} 👋</h1>

<div mat-dialog-content>
  <div layout-align="start center">
    <div *ngIf="data.room == null || data.room == ''">
      <p>Inserisci il codice della stanza qui sotto</p>
      <mat-form-field>
        <mat-label>Codice della stanza</mat-label>
        <input matInput [(ngModel)]="data.room" />
      </mat-form-field>
    </div>
    <div *ngIf="data.room != null && data.room != ''">
      <p>Stai per entrare dentro alla stanza <br><b>{{data.room}}</b>.<br> Buona visione!</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.room" cdkFocusInitial>Join</button>
</div>