.users {
    padding: 0;
}

.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid #f0f4f8;
}

.users .person:last-child {
    border-bottom: 0;
}

.users .person .user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.users .person .name-time{
   
    display: inline-block;
    margin-top: 0;
    text-align: center;
}
.users .person .name-time .name{
    color: white;
    font-weight: 600;
    font-size: .85rem;
    margin-right: 1vW;
}
.users .person p .name-time .message{
    font-weight: 800;
    font-size: 10rem;
    color: yellow;
}

@media (max-width: 767px) {
    .users .person .user img {
        width: 30px;
        height: 30px;
    }
    .users .person p.name-time {
        display: none;
    }
    .users .person p.name-time .time {
        display: none;
    }
}

.transparent-snackbar{
    background: transparent;
  }