

.container-body{
  margin-top: 5%;
  padding: 5%;


}
.conteiner-body .body{
  padding: 2%;
}
.conteiner-body .login{
  padding: none;
  height :40rem;
  overflow: auto;

}

.left{
  padding: 1%;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255,255,255);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.right{
  padding: 5%;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../../assets/img/background5.jpg");
  opacity: 0.9;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}


input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }


input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input {
    width: 80%;
    display: block;
    border: none;
    text-align: center;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box; }
  input::-webkit-input-placeholder {
      color: #999; }
  input::-moz-placeholder {
      color: #999; }
  input:-ms-input-placeholder {
      color: #999; }
  input:-moz-placeholder {
      color: #999; }
  input:focus {
      border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
        color: #222; }
    input:focus::-moz-placeholder {
        color: #222; }
    input:focus:-ms-input-placeholder {
        color: #222; }
    input:focus:-moz-placeholder {
        color: #222; }


.sign-in-box{
  margin-top:45%;
  }
label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222; }

  .form-group {
    position: relative;
    left:10%;
    margin-bottom: 25px;
    overflow: hidden; }
    .form-group:last-child {
      margin-bottom: 0px; }


.text-sign-in{
  margin-top: 5%;
  margin-bottom: 5%;
  background: -webkit-linear-gradient(#c33764, #1d2671);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-sign-in:hover{
  background-image: linear-gradient(-90deg,#c33764, #1d2671);
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 9px 9px 26px 9px rgba(0, 0, 0, 0.19);
  border: linear-gradient(-90deg,#c33764, #1d2671);
}


.btn-facebook{
  border-radius:50%;
  background-color: #3b5998;
  color:white;
  margin-right: 10px;
}

.btn-google{
  border-radius:50%;
  background-color: red;
  color:white;
  margin-right: 10px;
}

.btn-twitter{
  border-radius:50%;
  background-color: #1DA1F2;
  color:white;
  margin-right: 10px;
}

.text-welcome{
  position:absolute;
  bottom: 10%;
  float:left;
  font-size: 60px;
  color:white;
  border-bottom: 8px solid white;

}

.register{
  position: absolute;
  border:none;
  bottom:3%;
  left:33%;
}

.register:hover{
  background: -webkit-linear-gradient(#c33764, #1d2671);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.psw{
  border:none;
}

.psw:hover{
  background: -webkit-linear-gradient(#c33764, #1d2671);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
