<body>
<div class="container conteiner-body">
  <div class="row body">
    <!-- left col -->
    <div class="col-lg-5 left login text-center">
      <div class="sign-in-box">
        <h2 class="text-dark text-lg-center text-sign-in">LOGIN</h2>
        <form>
            <div class="form-group">
            <label for="email"><i class="fas fa-at"></i></label>
            <input type="text" placeholder="Email" name="mail" required>
          </div>
          <!-- <div class="form-group">
            <label for="email"><i class="fas fa-user-astronaut"></i></label>
            <input type="text" placeholder="Full name" name="name" required>
          </div> -->
          <div class="form-group">
            <label for="email"><i class="fas fa-fingerprint"></i></label>
            <input type="text" placeholder="Password" name="psw" required>
          </div>
        </form>
        <button class="btn btn btn-outline-dark psw mb-4">Forget your password ?</button>
        <br>
        <button class="mt-2 btn btn btn-outline-dark btn-sign-in">SIGN IN</button>
        <!-- <h6 class="margin-top text-sign-in">Or login with:</h6>
        <button class="btn btn-social btn-facebook"><i class="fab fa-facebook-f"></i></button>
        <button class="btn btn-social btn-google"><i class="fab fa-google"></i></button>
        <button class="btn btn-social btn-twitter"><i class="fab fa-twitter"></i></button> -->
        <link>
        <button class="btn btn btn-outline-dark register">Create your account</button>
      </div>
    </div>
    <!-- right col -->
    <div class="col-md-7 right">
      <div class="text-welcome">Welcome Back</div>
    </div>
</div>
</div>
<body></body>
