
.profile-img{
  max-height: 45px;
  max-width: 45px;
  position : block;
  float: left;
}

.btn-tondo{
  border-radius: 50%;
  position:block;
  float: left;
  padding: none;
}

.btn:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: transparent;
  color:#1c8adb;
  border-color:#1c8adb;
  transform: scale(1.05);
}


.btn-custom{
  margin-top: 5%;
  padding: none;
  margin: none;
  ;
}

.btn-custom:hover{
border: #bdbdbd;
color: black;
background: transparent;
transform: scale(1.05);
}

.contact-img{
  max-height: 15%;
  max-width: 15%;
  position:block;
  float: left;
}

.rounded-btn{
  border-radius: 25px;
}
