
<mat-list>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="image"></div>
            <mat-card-title>{{name}}</mat-card-title>
            <mat-card-subtitle>{{status}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="image"></div>
            <mat-card-title>{{name}}</mat-card-title>
            <mat-card-subtitle>{{status}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</mat-list>