
<!-- NavBar -->
  <!-- <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4 bg-nav">
        <h4 class="text-light">Menu</h4>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link menu-btn text-white" href="#"><i class="fa fa-film"></i>&#160;Film</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-btn text-white" href="#"><i class="fa fa-comments"></i>&#160;Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-btn text-white" href="#"><i class="fa fa-user-astronaut"></i>&#160;Account</a>
          </li>
        </ul>

      </div>
    </div>
    <nav class="navbar bg-nav navbar-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="navbar-toggler-icon"></i>
      </button>
    <p class = "text-white margin-right lign-middle">Simone Mulazzi</p>
    </nav>
  </div> -->
<app-top></app-top>
<!-- Body -->
<div class="container conteiner-body">
  <div class="row">
    <!-- left col -->
    <div class="col-lg-5 left block-chat text-center">
        <app-contact-list></app-contact-list>
    </div>
    <!-- right col -->
      <div class="col-md-7 right">
        <h4 class="mt-5% text-white" >Drop in your Movie</h4>
        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
          <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
        </div>
        <div  class="files-list" *ngFor="let file of files;let i= index">
            <p> {{ file }} </p>
            <button class="delete-file" (click)="deleteAttachment(i)">
              <i class="fas fa-delate"></i>
            </button>
        </div>
      </div>
  </div>
</div>
