<html>
<body>
  <!-- Navbar -->
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-light p-4 cyan">
        <h4 class="text-light">Menu</h4>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link menu-btn" href="#"><i class="fa fa-film"></i>&#160;Film</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-btn" href="#"><i class="fa fa-comments"></i>&#160;Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-btn" href="#"><i class="fa fa-user-astronaut"></i>&#160;Account</a>
          </li>
        </ul>

      </div>
    </div>
    <nav class="navbar navbar-light cyan">

      <button class="navbar-toggler btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <img src="../assets/img/mulaz.jpg"class=" rounded-circle profile-img"> -->
      {{admin}}
    </nav>
  </div>

  <!-- left section -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 border-right">
        <div id="left-col">
          <button class="btn btn-outline-info margin-top">
            <i class="fa fa-plus"></i>&ensp;Nuova conversazione
          </button>
          <hr class="hr">
          <div class="btn btn-custom">
            <img src="../assets/img/manu.jpeg"class="rounded-circle contact-img">Kriive
            <br>
            <small>Hai partecipato ieri alle 18.30</small>
          </div>

          <div class="btn btn-custom" *ngFor="let account of accounts">
            <img src="../assets/img/manu.jpeg"class="rounded-circle contact-img">{{account.name}}
            <br>
            <small>Hai partecipato {{account.access}}</small>
          </div>
        </div>
      </div>

      <!-- right section -->

  <div class="col-lg-9">
    <h4 class="margin-top" >Drop in your Movie</h4>
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
      <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
    </div>
    <div  class="files-list" *ngFor="let file of files;let i= index">
        <p> {{ file }} </p>
        <button class="delete-file" (click)="deleteAttachment(i)">
          <i class="fas fa-delate"></i>
        </button>
    </div>
    <div class="d-flex justify-content-around">
      <button class="btn btn-lg btn-outline-info margin-top"><i class="fas fa-film"></i>&#160;&#160;Go to Film</button>
      <button class="btn btn-lg btn-outline-info margin-top"><i class="fas fa-comments"></i>&#160;&#160;Go to Chat</button>
      <button class="btn btn-lg btn-outline-info margin-top"><i class="fas fa-film"></i>&#160;&#160;Go to Film</button>
    </div>
  </div>
  </div>
  </div>

</body>
</html>
