<div class="users-container text-center">
    <ul class="users">
        <div class="person" *ngFor="let user of data">
            <div class="user">
                <img [src]="user.avatar.path">
            </div>
            <!-- username -->
            <p class="name-time">
                <span class="name">{{user.nickname}}</span>
            </p>
            <div class="float-right">

                <mat-slide-toggle class="example-margin" color="Accent" [checked]="user.isInhibited" (change)="toggleMute(user)">
                </mat-slide-toggle>
            </div>
        </div>
    </ul>
</div>